@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/*body*/
body {
  background-color: #ffd8cc;
  font-family: "Ibarra Real Nova", serif; }

main {
  margin: 25px; }

/*header*/
.headerPadre {
  display: flex;
  height: auto;
  background-color: #ffbd9b;
  padding: 9px;
  justify-content: space-around;
  align-items: center; }

.headerHijoOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .headerHijoOne img {
    width: 60px;
    display: flex; }

.headerHijoTwo {
  display: flex;
  align-items: center;
  justify-content: center; }
  .headerHijoTwo ul {
    display: flex;
    flex-direction: row; }
  .headerHijoTwo li {
    margin: 10px; }

/*Pequeños componentes en común*/
li {
  list-style: none; }

a {
  text-decoration: none; }

h2 {
  font-weight: bold; }

/*INDEX PAGE*/
/*Aplicando Grids Area*/
.headerPadre {
  grid-area: headerindex; }

.sectionIndexA {
  grid-area: sectionindexa; }

.sectionIndexB {
  grid-area: sectionindexb; }

.indexPadre {
  grid-area: indexpadreboxes; }

.footerGrid {
  grid-area: footerpadre; }

.imageBanner {
  width: 100%; }

.indexOne h2 {
  margin-top: 10px;
  margin-bottom: 10px; }

.indexOne p {
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 5px; }

.indexTopFiveTitle {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Ibarra Real Nova", serif; }

.indexPadre {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.indexHijo {
  width: 400px;
  min-height: 650px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 0px 30px;
  border: 2px solid #ffbd9b;
  border-radius: 4px; }

p {
  font-family: "Ibarra Real Nova", serif; }

/*FOOTER*/
footer {
  font-family: "Ibarra Real Nova", serif; }

.logoFooter {
  width: 50px; }

.footerPadre {
  height: auto;
  background-color: #ffbd9b;
  border-width: 0px;
  padding: 9px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-width: 3px;
  margin: auto; }

.footerHijoCero {
  display: flex;
  flex-direction: column;
  align-items: center; }

.footerHijoOne {
  display: flex;
  flex-direction: column; }
  .footerHijoOne h4 {
    text-align: center; }
  .footerHijoOne ul {
    padding-left: 0%;
    text-align: center; }

.footerHijoTwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }

.footerHijoThree {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

/*No tocar con flex, es el whatsapp fixed*/
.sectionContacto {
  position: relative;
  font-family: "Ibarra Real Nova", serif; }

.whatsappFixed {
  position: fixed;
  top: 0;
  right: 25px;
  top: 90%; }

/* pagina RECETARIO*/
.recetarioHDos h2 {
  text-align: center; }

.padreFlexRecetas {
  font-family: "Ibarra Real Nova", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  margin: auto;
  /* Este centra el box*/ }
  .padreFlexRecetas h3 {
    margin: 10px;
    text-align: center; }
  .padreFlexRecetas input {
    margin: 10px;
    width: 90px; }

.hijoFlexRecetas {
  background-color: #ffbd9b;
  height: 320px;
  width: 290px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-width: 1px;
  border-image: initial;
  border-radius: 8px;
  margin: 20px;
  box-shadow: 5px 0px 30px; }
  .hijoFlexRecetas img {
    margin: 15px;
    width: 120px;
    height: 100px;
    display: flex; }

/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  border: 2px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px   0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 3px 3px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; }

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 3px;
  left: 3px; }

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em; } }

/*Pagina Como comprar*/
.comoComprar h2 {
  margin-top: 5px;
  margin-bottom: 5px; }

.comoComprar p {
  margin-top: 5px;
  margin-bottom: 10px; }

.comprarPasosPadre {
  font-family: "Ibarra Real Nova", serif;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.comprarPasosHijo {
  height: auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-width: 1px;
  border-image: initial;
  border-radius: 4px;
  margin-left: 40px;
  margin-right: 40px; }
  .comprarPasosHijo p {
    text-align: center; }
  .comprarPasosHijo h4 {
    text-align: center; }

.padreFaqs {
  font-family: "Ibarra Real Nova", serif; }
  .padreFaqs h3 {
    margin-top: 10px;
    margin-bottom: 10px; }
  .padreFaqs p {
    text-align: justify; }

/*Pagina consejos*/
.consejosTitulo h2 {
  margin-top: 5px;
  margin-bottom: 5px; }

.consejosTitulo p {
  margin-top: 5px;
  margin-bottom: 10px; }

.consejosPadre {
  font-family: "Ibarra Real Nova", serif;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.consejosHijo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .consejosHijo a {
    text-align: right; }

.left h3 {
  margin-left: 40px;
  margin-bottom: 20px;
  height: auto; }

.left p,
.left a {
  margin-left: 40px;
  height: auto; }

/* reemlazado por extend
.right {
  h3 {
    margin-right: 40px;
    margin-bottom: 20px;
    height: auto;
  }

  p {
    margin-right: 40px;
    height: auto;
  }

  a {
    margin-right: 40px;
    margin-top: 20px;
    height: auto;
  }
}

*/
/*Pagina Contacto*/
/*Aplicando grids*/
.contactoTitulo {
  grid-area: contactotitulo; }

.contactoPadreForm {
  grid-area: contactopadreform; }

/*
  
  .contactoTitulo {
    h2 {
      margin-top: 5px;
      margin-bottom: 5px;
      font-family: "Ibarra Real Nova", serif;
    }
  
    p {
      margin-top: 5px;
      margin-bottom: 5px;
      font-family: "Ibarra Real Nova", serif;
    }
  }*/
.contactoPadreForm {
  font-family: "Ibarra Real Nova", serif;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.contactoHijo {
  margin-top: 10px;
  margin-bottom: 10px; }

.flexFormRow {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/*APLICANDO @MEDIA*/
@media (max-width: 900px) {
  /*index*/
  .gridPadreIndex {
    display: grid;
    grid-template-areas: "headerindex headerindex headerindex" "sectionindexa sectionindexa sectionindexa" "sectionindexb sectionindexb sectionindexb" "indexpadreboxes indexpadreboxes indexpadreboxes" "footerpadre footerpadre footerpadre"; }
  .gridPadreContacto {
    display: grid;
    grid-template-areas: "headerindex headerindex headerindex" "contactotitulo contactotitulo contactotitulo" "contactopadreform contactopadreform contactopadreform" "footerpadre footerpadre footerpadre"; }
  .indexPadre {
    flex-wrap: wrap; }
  .contactoPadreForm img {
    display: none; }
  .footerRedesContacto {
    display: none; }
  /*como-comprar*/
  .comprarPasosPadre {
    flex-wrap: wrap; }
  /*consejos*/
  .consejosPadre {
    margin-right: 0px;
    margin-left: 0px; }
  .consejosHijo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .left h3 {
    margin: 0px;
    height: auto; }
  .right h3 {
    margin: 0px;
    margin-bottom: 0px;
    height: auto; }
  .right p {
    margin: 0px;
    height: auto; }
  .left p, a {
    margin: 0px;
    height: auto; }
  .consejosImages {
    text-align: center;
    margin-top: 20px; }
  .alternar {
    display: flex;
    flex-direction: column;
    order: -1; }
  /*contacto*/
  .contactoPadreForm {
    font-family: "Ibarra Real Nova", serif;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .flexFormRow {
    display: flex;
    flex-direction: column; }
  /*recetario*/
  .padreFlexRecetas {
    flex-wrap: wrap; } }

@media (max-width: 1245px) {
  .gridPadreIndex {
    display: grid;
    grid-template-areas: "headerindex headerindex headerindex" "sectionindexa sectionindexa sectionindexa" "sectionindexb sectionindexb sectionindexb" "indexpadreboxes indexpadreboxes indexpadreboxes" "footerpadre footerpadre footerpadre"; }
  .gridPadreContacto {
    display: grid;
    grid-template-areas: "headerindex headerindex headerindex" "contactotitulo contactotitulo contactotitulo contactotitulo" "contactopadreform contactopadreform contactopadreform contactopadreform" "footerpadre footerpadre footerpadre"; }
  .indexPadre {
    flex-wrap: wrap; }
  .comprarPasosPadre {
    flex-wrap: wrap; }
  .consejosPadre {
    flex-wrap: wrap; }
  .padreFlexRecetas {
    flex-wrap: wrap; } }

/*map get*/
.contactoTitulo h2 {
  margin-top: 5px;
  margin-bottom: 5px; }

.contactoTitulo p {
  margin-top: 5px;
  margin-bottom: 5px; }

/*aplicando extend en la pagina de consejos*/
.estiloConsejosRight, .right h3, .right p, .right a {
  margin-right: 40px;
  height: auto; }

.right h3 {
  margin-bottom: 20px; }

.right a {
  margin-top: 20px; }

/*agregando mixin a pagina index*/
.footerHijoOne {
  display: flex;
  flex-direction: column; }
