/*Pagina consejos*/

.consejosTitulo {
  h2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.consejosPadre {
  font-family: "Ibarra Real Nova", serif;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.consejosHijo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  h3 {
    margin-left: 40px;
    margin-bottom: 20px;
    height: auto;
  }

  p,
  a {
    margin-left: 40px;
    height: auto;
  }
}

/* reemlazado por extend
.right {
  h3 {
    margin-right: 40px;
    margin-bottom: 20px;
    height: auto;
  }

  p {
    margin-right: 40px;
    height: auto;
  }

  a {
    margin-right: 40px;
    margin-top: 20px;
    height: auto;
  }
}

*/