/*APLICANDO @MEDIA*/

@media (max-width: 900px) {
    /*index*/
    .gridPadreIndex {
      display: grid;
      grid-template-areas:
        "headerindex headerindex headerindex"
        "sectionindexa sectionindexa sectionindexa"
        "sectionindexb sectionindexb sectionindexb"
        "indexpadreboxes indexpadreboxes indexpadreboxes"
        "footerpadre footerpadre footerpadre";
    }
    .gridPadreContacto {
      display: grid;
      grid-template-areas:
        "headerindex headerindex headerindex"
        "contactotitulo contactotitulo contactotitulo"
        "contactopadreform contactopadreform contactopadreform"
        "footerpadre footerpadre footerpadre";
    }
  
    .indexPadre {
      flex-wrap: wrap;
    }
  
    .contactoPadreForm img {
      display: none;
    }
  
    .footerRedesContacto {
      display: none;
    }
  
    /*como-comprar*/
  
    .comprarPasosPadre {
      flex-wrap: wrap;
    }
    /*consejos*/
  
    .consejosPadre {
      margin-right: 0px;
      margin-left: 0px;
    }
  
    .consejosHijo {
      margin-top: 20px;
      margin-bottom: 20px;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .left h3 {
      margin: 0px;
      height: auto;
    }
  
    .right h3 {
      margin: 0px;
      margin-bottom: 0px;
      height: auto;
    }
  
    .right p {
      margin: 0px;
      height: auto;
    }
  
    .left p,a {
      margin: 0px;      
      height: auto;
    } 

    .consejosImages {
      text-align: center;
      margin-top: 20px;
    }

    .alternar {
      display: flex;
      flex-direction: column;
      order: -1;
    }

  
    /*contacto*/
    .contactoPadreForm {
      font-family: "Ibarra Real Nova", serif;
      height: auto;  
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .flexFormRow {
      display: flex;
      flex-direction: column;
    }
  
    /*recetario*/
    .padreFlexRecetas {
      flex-wrap: wrap;
    }
  }
  
  @media (max-width: 1245px) {
    .gridPadreIndex {
      display: grid;
      grid-template-areas:
        "headerindex headerindex headerindex"
        "sectionindexa sectionindexa sectionindexa"
        "sectionindexb sectionindexb sectionindexb"
        "indexpadreboxes indexpadreboxes indexpadreboxes"
        "footerpadre footerpadre footerpadre";
    }
  
    .gridPadreContacto {
      display: grid;
      grid-template-areas:
        "headerindex headerindex headerindex"
        "contactotitulo contactotitulo contactotitulo contactotitulo"
        "contactopadreform contactopadreform contactopadreform contactopadreform"
        "footerpadre footerpadre footerpadre";
    }
    .indexPadre {
      flex-wrap: wrap;
    }
  
    .comprarPasosPadre {
      flex-wrap: wrap;
    }
  
    .consejosPadre {
      flex-wrap: wrap;
    }
  
    .padreFlexRecetas {
      flex-wrap: wrap;
    }
  }
  