* {
  margin: 0;
  padding: 0;
}

$color-principal: #ffd8cc;
$color-secundario: #ffbd9b;

@import "body-plus-header";
@import "index-page";
@import "recetario-page";
@import "como-comprar-page";
@import "consejos-page";
@import "contacto-page";
@import "media";
@import "maps";
@import "extend";
@import "mixin";